---
import ContentBox from "../../components/ContentBox.astro";
import ContentPageLayout from "../../layouts/ContentPageLayout.astro";
import StructuredText from "../../components/StructuredText.astro";
import { editorialTags } from "../../lib/constants/editorial-tags";
import { getStrings } from "../../lib/constants/strings";
import { getCollection } from "astro:content";

const enablers = await getCollection("enabler");
const tagCountLookup: Record<string, number> = {};
enablers.forEach(({ data: { posts } }) =>
  posts.forEach(({ tags }) =>
    tags.forEach((tag) => {
      tagCountLookup[tag] = (tagCountLookup[tag] ?? 0) + 1;
    })
  )
);

const tagOrder = editorialTags.sort((a, b) => {
  return (tagCountLookup[b] ?? 0) - (tagCountLookup[a] ?? 0);
});
---

<ContentPageLayout
  title="editorial guide"
  description="Detail on how we determine who and which statements are feature on genocide.club."
>
  <ContentBox>
    <p>
      <StructuredText parts={getStrings("editorial_intro")} />
    </p>
    <p>
      For our classification approach, we've taken some guidance from the work
      of Dr. Gregory H Stanton. You can read the Holocaust Memorial Day Trust's <a
        href="https://www.hmd.org.uk/learn-about-the-holocaust-and-genocides/what-is-genocide/the-ten-stages-of-genocide/"
        target="_blank">Summary of the Ten Stages of Genocide</a
      > to learn more.
    </p>
    {
      tagOrder.map((tag) => (
        <>
          <h2>
            <StructuredText parts={getStrings(`tag_${tag}_head`)} />
          </h2>
          <p>
            <StructuredText parts={getStrings(`tag_${tag}_para`)} />
          </p>
        </>
      ))
    }
  </ContentBox>
</ContentPageLayout>

<style>
  p {
    margin: 0;
    margin-bottom: 2rem;
  }
  p:last-of-type {
    margin-bottom: 0;
  }
</style>
