---
import Layout from "../layouts/ContentPageLayout.astro";
import ContentBox from "../components/ContentBox.astro";
---

<Layout title="genocide.club • 404 Not Found">
  <ContentBox>
    <p>Sorry, the page you were looking for was not found.</p>
    <p>Please <a href="/">try from our home page</a>.</p>
  </ContentBox>
</Layout>
