---
import KilledGraph from '../generated/killed.astro';

interface Props {
  playDurationSeconds?: number
}

const { playDurationSeconds } = Astro.props;
---

<div class="graph">
  <KilledGraph playDuration={playDurationSeconds ? `${playDurationSeconds}s` : undefined} />
  <div class="labelbox">
    <div class="" />
  </div>
</div>
<style>
  .graph {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
</style>
