---

---

<div class="content-box">
  <slot />
</div>
<style>
  .content-box {
    background-color: rgba(0, 0, 0, 50%);
    margin-bottom: 2rem;
    border: 1px solid rgba(255, 255, 255, 25%);
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 50%);
  }
</style>
