---
interface Props {}

const {} = Astro.props;
---

<div class="opacity-overlay"></div>
<style>
  .opacity-overlay {
    pointer-events: none;
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(25, 0, 0, 0.8);
  }
</style>
