---
import type { StructuredText } from "../lib/shared/structured-text";

interface Props {
  parts: StructuredText[];
}

const { parts } = Astro.props;
---

<span>
  {
    parts.map((part) =>
      part.type === "url" ? (
        <a href={part.href} title={part.href} target="_blank">
          {part.text}
        </a>
      ) : part.type === "space" ? (
        <span>&nbsp;</span>
      ) : part.type === "break" ? (
        <span class="linebreak" />
      ) : (
        part.text
      )
    )
  }
</span>

<style>
  .linebreak {
    display: block;
    margin-bottom: 10px;
  }
</style>
